%table.row.table.table-striped.user_products
  .col-md-12
    - products.each do |product|
      %tr
        %td= link_to product.name, category_product_path(product.category, product)
        %td= truncate(product.description, separator: ' ')
        %td= link_to product.category.name, category_path(product.category)
        %td= number_to_currency(product.price)
        %td= cart.get_qty(product.id)
        %td= number_to_currency cart.total_price(product.id)
        %td.glyphicon.glyphicon-trash.text-center
    %tr
      %td Sum
      %td
      %td
      %td
      %td
      %td
      %td= number_to_currency(user.cart.cart_price)

= link_to 'Checkout', new_order_path, class: 'btn btn-success pull-right checkout-btn'
