!!!
%html{ lang: 'en' }
  %head
    %title Vulcan
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %span.navbar-brand= link_to 'Rails Store', root_path

        %ul.navbar-left.navbar-text.navbar-nav.nav
          %li.dropdown
            = link_to "#", class: 'btn btn-default', data: { toggle: "dropdown" } do
              Categories
              %span.caret
            %ul.dropdown-menu
              - find_categories.each do |category|
                %li= link_to category.name, category
          %li
            = form_tag search_path, method: :get, class: 'form-inline' do
              .form-group
                = search_field_tag :q, params[:q],
                  placeholder: 'Search for products',
                  size: 40,
                  class: 'form-control'
                = submit_tag 'Search', name: nil, class: 'btn btn-default'



        %ul.navbar-text.navbar-right.navbar-nav.nav
          %li= link_to " Cart(0)", root_path, class: 'btn btn-default glyphicon glyphicon-shopping-cart'
          - if user_signed_in?
            - if current_user.admin?
              %li= link_to 'Administration', admin_dashboard_path, class: 'btn btn-default'
            %li= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger'
          - else
            %li= link_to 'Log in', new_user_session_path, class: 'btn btn-info'
            %li= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success'

    .container-fluid.col-md-8.col-md-offset-2
      - flash.each do |type, message|
        %div{ class: "alert #{bootstrap_flash_class(type)} fade in" }
          = message
          %button.close{ data: { dismiss: 'alert' } } x
      = yield
